@model IEnumerable<Kalakaar.Models.Shop>

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using Kalakaar.Models



@{
    ViewData["Title"] = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var wishlist = JsonConvert.DeserializeObject<Wishlist>(Context.Session.GetString("wishlist"));
}

@*<h1>@Context.Session.GetString("wishlist")</h1>*@

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShopType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image1Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image2Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgBanner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(i => i.ShopType.ToLower() == "men"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShopType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image1Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image2Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImgBanner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@


<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Wishlist Page</h2>
                <ol class="breadcrumb">
                    <li class="active">Wishlist</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table aa-wishlist-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Stock Status</th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            if (wishlist.ProductIDs != null)
                                            {
                                                if (wishlist.ProductIDs.Any(i => i == item.ProductId))
                                                {
                                                    <tr>
                                                        <td><a class="remove" asp-action="RemoveWishlist" asp-route-id="@item.ProductId"><fa class="fa fa-close"></fa></a></td>
                                                        <td><a href="#"><img src="~/img/@item.Image1Url" alt="img"></a></td>
                                                        <td><a class="aa-cart-title" href="#">@item.ProductName</a></td>
                                                        <td>@item.Price</td>
                                                        <td>In Stock</td>
                                                        <td><a href="#" class="aa-add-to-cart-btn">Add To Cart</a></td>
                                                    </tr>
                                                }
                                            }

                                        }

                                        @*<tr>
            <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
            <td><a href="#"><img src="~/img/man/polo-shirt-2.png" alt="img"></a></td>
            <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
            <td>$150</td>
            <td>In Stock</td>
            <td><a href="#" class="aa-add-to-cart-btn">Add To Cart</a></td>
        </tr>
        <tr>
            <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
            <td><a href="#"><img src="~/img/man/polo-shirt-3.png" alt="img"></a></td>
            <td><a class="aa-cart-title" href="#">Polo T-Shirt</a></td>
            <td>$50</td>
            <td>In Stock</td>
            <td><a href="#" class="aa-add-to-cart-btn">Add To Cart</a></td>
        </tr>*@

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->